
@{
    ViewData["Title"] = "ChangePassword";
}

@model KnowledgeBase.ViewModels.ChangePasswordViewModel





<div class="card bg-light border mx-auto text-center" style="max-width: 22rem;">
    <div class="card-header">Change password for @Model.Email</div>
    <div class="card-body">

        <form asp-action="ChangePassword" asp-controller="Account">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Email" />

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" asp-for="OldPassword"></label>
                </div>
                <input type="password" asp-for="OldPassword" class="form-control" placeholder="">

            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" asp-for="NewPassword"></label>
                </div>
                <input type="password" asp-for="NewPassword" class="form-control" placeholder="">

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" asp-for="ConfirmPassword"></label>
                </div>
                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="">

            </div>

            <div>
                <button class="btn btn-primary mx-auto" type="submit">Save password</button>
            </div>
        </form>

    </div>

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />


}