
@{
    ViewData["Title"] = "ForgotPassword";
}

@model KnowledgeBase.ViewModels.ForgotPasswordViewModel

    <div class="card bg-light border mx-auto text-center" style="max-width: 22rem;">
        <div class="card-header">Restore password</div>
        <div class="card-body">
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" asp-for="Email"></label>
                    </div>
                    <input type="text" asp-for="Email" class="form-control" placeholder="">
                </div>


                <div>
                    <button class="btn btn-primary mx-auto" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
