
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

@inject IViewLocalizer Localizer
<div class="card bg-light border mx-auto text-center" style="max-width: 22rem;">
    <div class="card-header">@Localizer["ConfirmationHeader"]</div>
    <div class="card-body">
        <p>
            @Localizer["SentLinkText"]
        </p>
    </div>
</div>
