
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}


<div class="card bg-light border mx-auto text-center" style="max-width: 22rem;">
    <div class="card-header">Confirmation</div>
    <div class="card-body">
        <p>
            We sent a link to your email
        </p>
    </div>
</div>
