
@{
    ViewData["Title"] = "Register";
}
@inject IViewLocalizer Localizer
@model KnowledgeBase.ViewModels.RegisterViewModel

<div class="card bg-light border mx-auto text-center" style="max-width: 22rem;">
    <div class="card-header">@Localizer["RegisterHeader"]</div>
    <div class="card-body">

        <form method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="All"></div>

            @*<span class="text-danger" asp-validation-for="Email"></span>*@
            <div class="input-group mb-3 form-group">

                <div class="input-group-prepend">
                    <label class="input-group-text" asp-for="Email"></label>
                </div>

                <input type="text" asp-for="Email" class="form-control" placeholder="">

            </div>

            @*<span class="text-danger" asp-validation-for="Password"></span>*@
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" asp-for="Password"></label>
                </div>
                <input type="password" asp-for="Password" class="form-control" placeholder="">
            </div>

            @*<span class="text-danger" asp-validation-for="PasswordConfirm"></span>*@
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" asp-for="PasswordConfirm"></label>
                </div>
                <input type="password" asp-for="PasswordConfirm" class="form-control" placeholder="">
            </div>

            <small id="passwordHelpBlock" class="form-text text-muted">
                @Localizer["PasswordHelp"]
            </small>
            <br />


            <div>
                <button class="btn btn-primary mx-auto" type="submit">@Localizer["RegisterButton"]</button>
            </div>
        </form>

    </div>
    <div class="card-footer">
        <partial name="_ExternalLogin" />

    </div>

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />


}