
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

    <div class="card bg-light border mx-auto text-center" style="max-width: 22rem;">
        <div class="card-header">Confirmation</div>
        <div class="card-body">
            <p>
                Your password has been reset. Now you can login again.
            </p>
        </div>
    </div>
