
@{
    ViewData["Title"] = "ResetPassword";
}

@model KnowledgeBase.ViewModels.ResetPasswordViewModel


<div class="card bg-light border mx-auto text-center" style="max-width: 22rem;">
    <div class="card-header">Confirmation</div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" asp-for="Email"></label>
                </div>
                <input type="text" asp-for="Email" class="form-control" placeholder="">

            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" asp-for="Password"></label>
                </div>
                <input type="password" asp-for="Password" class="form-control" placeholder="">

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" asp-for="ConfirmPassword"></label>
                </div>
                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="">

            </div>
            <button class="btn btn-primary mx-auto" type="submit">Save password</button>
        </form>
    </div>
</div>
