
@{
    ViewData["Title"] = "Create";
}

@model KnowledgeBase.ViewModels.CreateUserViewModel


<div class="card bg-light border mx-auto text-center" style="max-width: 22rem;">
    <div class="card-header">Create user</div>
    <div class="card-body">

        <form asp-action="Create" asp-controller="Users">
            <div asp-validation-summary="All"></div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" asp-for="Email"></label>
                </div>
                <input type="text" asp-for="Email" class="form-control" placeholder="">

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" asp-for="Password"></label>
                </div>
                <input type="password" asp-for="Password" class="form-control" placeholder="">

            </div>

            <div>
                <button class="btn btn-primary mx-auto" type="submit">Create</button>
            </div>
        </form>

    </div>

</div>