@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@




@inject IViewLocalizer Localizer
<div class="card">
    <div class="card-header">@Localizer["Calendar header"]</div>
    <div class="card-body bg-light border">
        <div id='calendar'></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js" integrity="sha256-GBryZPfVv8G3K1Lu2QwcqQXAO4Szv4xlY4B/ftvyoMI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css" integrity="sha256-Lfe6+s5LEek8iiZ31nXhcSez0nmOxP+3ssquHMR3Alo=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.js" integrity="sha256-q57s73NpMCTQ4ZXqb1X5bIywrICySeB6WvYxFGfz/PA=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css" integrity="sha256-saO3mkZVAcyqsfgsGMrmE7Cs/TLN1RgVykZ5dnnJKug=" crossorigin="anonymous" />
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/locales/ru.js"></script>*@



<script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "ru")
                {
                    @:locale: 'ru',
                }

                plugins: ['list'],
                timeZone: 'UTC',
                defaultView: 'listMonth',
                eventColor: 'orange',

                eventMouseEnter: function (info) {
                    var topicId = info.event.id;
                    var editUrl = "./Subjects/Topic?topicId=" + topicId;


                    var editBtn = "<a class='cal-hover-btn btn btn-sm btn-secondary ml-1 float-right text-white' href='" + editUrl + "'>Edit</a>";
                    $(".fc-list-item-title", info.el).append(editBtn);

                    if (info.event.extendedProps.isrepeated != true) {
                        var reviewUrl = "./Review/Topic?topicId=" + topicId;
                        var reviewBtn = "<a class='cal-hover-btn btn btn-sm btn-primary ml-1 float-right text-white' href='" + reviewUrl + "'>Review</a>";
                        $(".fc-list-item-title", info.el).append(reviewBtn);
                    }

                },
                eventMouseLeave: function (info) {
                    $(".cal-hover-btn", info.el).remove();
                },
                // customize the button names,
                // otherwise they'd all just say "list"
                @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "ru")
                {
                    @:views: { listMonth: { buttonText: 'Месяц' }, listYear: { buttonText: 'Год' } },
                }else {
                    @:views: { listMonth: { buttonText: 'Month' }, listYear: { buttonText: 'Year' } },
                }
                header: {
                    left: 'title',
                    center: 'prev,next',
                    right: 'listMonth,listYear'
                }
            });
            calendar.render();


            $.getJSON('/api/GetTopics', function (topics) {
                for (var i = 0; i < topics.length; i++) {
                    for (var j = 0; j < topics[i].repeatDates.length; j++) {
                        //Setting colors for events: green - reviewed, orange - to review, red - forgoten to review
                        var backColor = (topics[i].repeatDates[j].repeated) ? "green" : "orange";
                        if ((Date.parse(topics[i].repeatDates[j].date) < Date.now()) && !(topics[i].repeatDates[j].repeated)) {
                            backColor = "red";
                        }
                        calendar.addEvent({
                            title: topics[i].name,
                            id: topics[i].id,
                            start: topics[i].repeatDates[j].date,
                            isrepeated: (topics[i].repeatDates[j].repeated) ? true : false,
                            backgroundColor: backColor,
                        });
                    }
                }
                calendar.render();
            });

        });


</script>

</div>