@model Subject



<div class="card small-card m-3">
    <div class="card-header text-dark">@Model.Name</div>
    <div class="card-body">

        Topics :
        @if (Model.Topics == null)
        {
            <i>Create some topics</i>
        }
        else
        {
            @foreach (var topic in Model.Topics)
            {
                <i>'@Model.Name' </i>
            }
        }
        <br />
    </div>
    <div class="btn-group">

        <a class="btn btn-light" asp-controller="Subjects" asp-action="Subject" asp-route-subjectId="@Model.Id">Details</a>


    </div>
</div>