@model List<Subject>
@{
    ViewData["Title"] = "Subjects";
}

<div class="text-center">
    <h1 class="display-4">Subjects</h1>
    <hr />
    <div class="card-columns">
        @foreach (var subject in Model)
        {

            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title">Subject @subject.Name</h6>
                    <b>Themes :</b>
                    @if (subject.Themes == null)
                    {
                        <i>No themes</i>
                    }
                    else
                    {
                        @foreach (var theme in subject.Themes)
                        {
                            <i>'@theme.Name' </i>
                        }
                    }
                    <br />  
                    <a class="btn btn-secondary btn-sm" asp-controller="Subjects" asp-action="Subject" asp-route-subjectId="@subject.Id">Details</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Subjects" asp-action="DeleteSubject" asp-route-subjectId="@subject.Id">Delete subject</a>

                </div>
            </div>
        }
    </div>    
    <a class="btn btn-primary btn-sm" asp-controller="Subjects" asp-action="CreateSubject">Create subject</a>

</div>
