@model List<Subject>
@{
    ViewData["Title"] = "Subjects";
}
@inject IViewLocalizer Localizer
<div class="text-center">
    <div class="row">

        <div class="col-sm-4 mb-3 mb-sm-0">

            <div class="card bg-light big-card">
                <div class="card-header">@Localizer["HelpHeader"]</div>

                <div class="card-body">
                    <p>Lorem ipsum</p>
                </div>
                @*<button class="btn btn-primary btn-sm" asp-controller="Subjects" asp-action="CreateSubject">Create subject</button>*@
            </div>

        </div>

        <div class="col-sm-8">
            <div class="card bg-light">
                <div class="card-header">
                    <span class="absolute-center">@Localizer["SubjectsHeader"]</span>

                    <a class="float-right add-button" asp-controller="Subjects" asp-action="CreateSubject">
                        @Localizer["AddSubjectButton"]
                        <i class="fas fa-plus-square fa-lg"></i>
                    </a>

                </div>

                <div class="row justify-content-center p-3">
                    @foreach (var subject in Model)
                    {
                        <partial name="_SubjectCard" model=subject />

                    }
                </div>
            </div>
        </div>







    </div>
</div>


