a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: orange;
    transition-duration:0.2s;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited, .btn-danger:focus {
    background-color: indianred !important;
    border-color: indianred !important;
    box-shadow: none !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: orange !important;
    border-color: orange !important;
    box-shadow: none !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited, .btn-secondary:focus {
    background-color: #4f5d75 !important;
    border-color: #4f5d75 !important;
    box-shadow: none !important;
}


.btn-danger:hover {
    background-color: #ed7c7c !important;
    border-color: #ed7c7c !important;
    box-shadow: none !important;
}

.btn-primary:hover {
    background-color: #ffc520 !important;
    border-color: #ffc520 !important;
    box-shadow: none !important;
}

.btn-secondary:hover {
    background-color: #6f7d95 !important;
    border-color: #6f7d95 !important;
    box-shadow: none !important;
}



.btn-light {
    background-color: #EEEEEE !important;
}

.btn-light:hover {
    background-color: #FFFFFF !important;
}

/*Fix for calendar buttons*/
.fc-list-item-title a[href]:hover {
    text-decoration: none !important;
}





.card-header {
    background-color: #4f5d75 !important;
    color: white;
}

.review-wrapper * {
    max-width: 100% !important;
}

.review-wrapper img {
    /*width: 100% !important;*/
    height: auto;
}

.badge {
    float: right;
    margin-bottom: -10px;
}

.badge-primary {
    background-color: orange !important;
}

.small-card {
    background-color: #FFFFFF !important;
    max-width: 24rem !important;
    min-width: 20rem !important;
    border-radius: 3px 3px 0px 0px !important;
    box-shadow: 0 0 8px rgba(0,0,0,0.05) !important;
}

.small-card:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.1) !important;
    transition-duration:0.5s;
}

.card {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.add-button {
    color: #ffffff;
    z-index: +1;
    position: relative;
}

.add-button:hover {
    color: orange;
    text-decoration:none;
    z-index: 1;
    position: relative;
    transition-duration:0.2s;
}

.small-card .btn, .big-card .btn {
    border-radius: 0px !important;
}

.small-card .card-header {
    background-color: #EEEEEE !important;
}

.absolute-center {
    position: absolute;
    left: 0px;
    right: 0px;
}
