/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */


html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  margin-top:500px;
}

header, footer {
    background-color: #4f5d75;
}

.logo {
    width:200px;
}

.nav-link, .navbar-brand, footer {
    color: white;
    font-size:larger;
}
.nav-link:hover, .navbar-brand:hover {
    color: orange;
}

body{
    background-image:url(/images/Background.png);
    background-size:cover;
}







a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: orange;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited, .btn-danger:focus {
    background-color: indianred !important;
    border-color: indianred !important;
    box-shadow: none !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: orange !important;
    border-color: orange !important;
    box-shadow: none !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited, .btn-secondary:focus {
    background-color: #4f5d75 !important;
    border-color: #4f5d75 !important;
    box-shadow: none !important;
}

.btn-light {
    background-color: #EEEEEE !important;
}

.btn-light:hover {
    background-color: #FFFFFF !important;
}

.card-header {
    background-color: #4f5d75;
    color:white;
}

.review-wrapper * {    
    max-width: 100% !important;
}
.review-wrapper img {
    /*width: 100% !important;*/
    height: auto;
}

.badge {
    float: right;
    margin-bottom: -10px;
}
.badge-primary {
    background-color: orange !important;
}

.small-card {
    background-color: #FFFFFF !important;
    max-width: 24rem !important;
    min-width: 20rem !important;
    border-radius: 3px 3px 0px 0px !important;
}

.add-button {
    color: #ffffff;
    z-index: +1;
    position: relative;
}
.add-button:hover {
    color: orange;
    z-index: 1;
    position: relative;
}

.small-card .btn, .big-card .btn{
    border-radius:0px !important;
}

.small-card .card-header{
    background-color:#EEEEEE !important;
}

.absolute-center{
    position:absolute;
    left:0px;
    right:0px;
}













