@model List<Topic>
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card bg-light">
                <div class="card-header">Help</div>

                <div class="card-body">
                    <p>Lorem ipsum</p>
                </div>

            </div>
        </div>

        <div class="col-sm-8">
            <div class="card bg-light">
                <div class="card-header">Topics to review today</div>
                <div class="card-columns p-3">
                    @if ((Model == null) || (Model.Count == 0))
                    {
                        <br />
                        <i>You don`t have topics to review today</i>
                    }
                    else
                    {
                        @foreach (var topic in Model)
                        {
                            <partial name="_TopicCard" model=topic />
                        }

                    }
                </div>
            </div>







        </div>
    </div>
</div>